
.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

p{
    border: 1px solid black;
}
.intro {
    display: flex;
    font-size: 5em;
    border: 1px solid black;
    justify-self: center;
}

.header {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
}

.outer-links {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: auto;
    padding: 5px 10px;
    width: 60%;
}

.inner-links {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    justify-self: auto;
    margin: auto;
    width: inherit;
}

.smartphones,
.iot-products,
.about-oppo,
.color-os,
.support {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    color: dimgrey;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-decoration: none;
    font-size: 25px;
}

.smartphones:hover,
.iot-products:hover,
.about-oppo:hover,
.color-os:hover,
.support:hover {
    color: gainsboro;
}

.scrolling-marquee {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding-top: 25px;
}

.picture-one,
.picture-two,
.picture-three,
.picture-four,
.picture-five {
    transition: transform .2s;
    margin: 5px;
}

.picture-one:hover,
.picture-two:hover,
.picture-three:hover,
.picture-four:hover,
.picture-five:hover {
    transform: scale(1.3);
}